$blue-dark: #0B2D71;
$blue: #0066B2;
$blue-light: #009FDA;
$blue-middle-light: #B2E2F4;
$blue-low-light: #F4FBFE;
$green: #B2CC34;
$red: #E21836;
$yellow: #FAAB18;
$orange: #DA9C36;
$black: #212121;
$gray-dark: #6B6D6F;
$gray: #C8C8C8;
$gray-light: #EDEDEE;
$white: #FFFFFF;


$page-min-width: 1024px;
$page-header-height: 80px;
$page-sidebar-width: 300px;

$z-index-modal: 15;
$z-index-overlay: 14;
$z-index-sidebar: 13;
$z-index-tooltip: 12;
$z-index-page-header: 11;
$z-index-page-body: 10;
